extends ../layout

block content
  .row.mb-4
    .col-md-6
      h1 Blog Posts
    .col-md-6
      form(action="/posts", method="GET")
        .input-group
          input.form-control(type="text", name="search", placeholder="Search posts...", value=search || '')
          button.btn.btn-outline-secondary(type="submit") Search
  
  if posts.length > 0
    each post in posts
      .card.mb-3
        .card-body
          h5.card-title= post.title
          if post.tags && post.tags.length > 0
            .mb-2
              each tag in post.tags
                span.badge.bg-secondary.me-1= tag
          p.card-text= post.content.substring(0, 150) + (post.content.length > 150 ? '...' : '')
          .d-flex.justify-content-between.align-items-center
            small.text-muted Posted by #{post.createdBy.username} on #{post.createdAt.toLocaleDateString()}
            a.btn.btn-sm.btn-outline-primary(href=`/posts/${post._id}`) Read More
  else
    .alert.alert-info No posts found.